.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - (198px));
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-component {
    width: 100%;
    max-width: 740px;
}

.add-comment-component{
    display: flex;
    width: 100%;
    max-width: 740px;
}