.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: 50px;
    max-width: 700px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.profile-username {
    display: flex;
    margin-bottom: 20px;
}

.profile-stats ul {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 200px;
    height: 200px;
}

.profile-name {
    margin-bottom: 20px;
}

.profile img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    padding: 40px;
    width: 100%;
    max-width: 370px;
}

.profile h1 {
    font-weight: 500;
    margin-right: 20px;
}

.edit-btn {
    white-space: nowrap;
    font-size: 16px;
    padding: 0 16px;
    border: none;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
}

.edit-btn:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.edit-btn:active {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.follow-btn {
    white-space: nowrap;
    font-size: 16px;
    padding: 0 16px;
    border: none;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
}

.follow-btn:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.follow-btn:active {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.profile-stats {
    margin-bottom: 20px;
    font-size: 18px;
}

.profile-bio {
    font-size: 18px;
}

.settings {
    display: none;
    margin-top: 5px;
}

.is-loading {
    display: none;
}

.loader {
    width: 100%;
    min-height: calc(100vh - (198px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-div {
    margin-top: 200px;
}

.post-list-component {
    width: 100%;
    max-width: 740px;
}

.choose-feed-component {
    display: flex;
    width: 100%;
    max-width: 740px;
}

@media (max-width: 768px) {
    .profile {
        max-width: 400px;
        margin-top: 20px;
    }

    .profile-stats {
        font-size: 13px;
        width: 190px;
    }

    h1 {
        font-size: 22px;
        margin-right: 10px;
    }

    .edit-btn {
        display: none;
    }

    .profile-image {
        padding: 20px;
        width: 100px;
        height: 100px;
    }

    .profile-image img {
        width: 100px;
        height: 100px;
    }

    .profile-info {
        width: 100%;
        max-width: 200px;
        padding: 20px;
    }

    .settings {
        display: block;
    }
}