.item-container {
    background-color: #e2e2e2;
    display: flex;
    max-width: 700px;
    min-width: 250px;
    margin: 0 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.profile-image-div {
    width: fit-content;
    margin: 10px 15px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main {
    margin: 10px 15px;
    margin-left: 5px;
    width: 100%;
}

.header {
    display: flex;
    margin-bottom: 5px;
}

.owner-name {
    font-weight: bold;
    margin-right: 10px;
}

.owner-username {
    color: #5b7083;
    margin-right: 10px;
}

.publish-time {
    color: #5b7083;
    margin-right: 10px;
}

.content {
    margin-bottom: 5px;
}

.post-image {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.footer {
    display: flex;
}

.likes {
    margin-right: 10px;
    font-weight: bold;
}

.comments {
    font-weight: bold;
}

.post-image {
    width: 100%;
}

.username-publish {
    display: flex;
}

.edited {
    display: flex;
    align-items: center;
}

.edited p {
    color: #5b7083;
    font-size: 15px;
}

.edited i {
    font-size: 16px;
    padding-bottom: 3px;
}

.container:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container:active {
    background-color: #e2e2e2;
}

.no-posts {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    text-align: center;
}

.is-loading {
    display: none;
}

.post-image-loader{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.item-container:hover{
    cursor: pointer;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}