.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.settings-spinner {
  width: 100%;
  min-height: calc(100vh - (198px));
  display: flex;
  align-items: center;
  justify-content: center;
}