nav ul {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e3e3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo a {
    margin-left: 60px;
    padding: 0 8px;
    font-size: 23px;
    text-decoration: none;
    color: #07c;
}

.burger {
    padding: 0 10px;
    border-left: 1px solid #eee;
    display: none;
    cursor: pointer;
}

.burger i {
    color: #999;
    line-height: 60px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.menu-item {
    padding: 0 10px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    color: black;
}

.menu a:hover {
    background-color: rgb(145, 145, 145);
    transition: 0.5s;
    cursor: pointer;
}

.logo a img:hover{
    cursor: pointer;
}

img {
    height: 70px;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.is-open {
        display: block;
        position: absolute;
        top: 71px;
        background: #fff;
        width: 100%;
    }

    nav .menu.is-open .menu-item {
        border-radius: 0px;
        border-bottom: 1px solid #cccccc;
    }
}