.main{
    display: flex;
    min-height: calc(100vh - (198px));
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: auto 0;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.container a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}


.main h1 {
    text-align: center;
}

.main form {
    text-align: center;
}

.main input[type="text"],
.main input[type="password"],
.main input[type="date"],
.main input[type="email"] {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    appearance: none;
}

.successDiv
.errorDiv {
    margin-top: 5px;
    display: inline-block;
}

.errorMsg {
    font-size: 18px;
    color: red;
}

.successMsg{
    font-size: 18px;
    color: green;
}

.submit-button {
    display: block;
    padding: 12px 24px;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:disabled,
.submit-button:disabled:hover{
    background-color: #888;
}

.invalidField {
    border: 1px solid red !important;
}

.loader{
    margin-top: 5px;
    padding: 25px;
}

.submit-button:hover {
    background-color: #555;
}

.isInvalid:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
    }
}