.search-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.search-main h1{
    text-align: center;
    margin-bottom: 20px;
}

.search-found{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left:  10px;
    padding-right:  10px;
}

.global-spinner {
    width: 100%;
    min-height: calc(100vh - (198px));
    display: flex;
    align-items: center;
    justify-content: center;
}